@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-title" style="background-image: url(/images/background/4.jpg);">
    <div class="auto-container">
        <h1>Portfolio</h1>
        <ul class="bread-crumb">

            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">Portfolio</li>

        </ul>
    </div>
</section>
<!--End Page Title-->

<div id="scrollToSideBar" class="sidebar-page-container blog-page">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Content Side-->
            @RenderBody()

            <!--Sidebar-->
            <div class="sidebar-side pull-left col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <aside class="sidebar">

                    <!-- Sidebar Category -->
                    <div class="sidebar-widget sidebar-category">
                        @Html.Partial("_ManageNav")
                    </div>

                    <!-- Sidebar Brouchers -->
                    <div class="sidebar-widget sidebar-broucher">
                        <div class="sidebar-title">
                            <h2>Download Brochures</h2>
                        </div>
                        <ul class="brouchers">
                            <li><a href="~/Brouchers/MarkhorTechBroucher.pdf"><span class="icon flaticon-pdf"></span> Click here to download . pdf <span class="download-icon fa fa-download"></span></a></li>
                        </ul>
                    </div>

                    <!-- Quote Widget-->
                    <div class="sidebar-widget quote-widget">
                        <div class="inner-box">
                            <h2>Free Consultation</h2>
                            <div class="text">These days are all share them with  much more than a hunch.</div>
                            <a href="@Url.Action("Contact","Home")" class="theme-btn btn-style-one">Contact us</a>
                        </div>
                    </div>

                </aside>
            </div>
            <!--End Sidebar-->

        </div>
    </div>
</div>
