@using MarkhorTech.Web.Views.Portfolio
@{
    ViewBag.Title = "EdgeTours";
    Layout = "~/Views/Portfolio/_Layout.cshtml";
    ViewData.AddActivePage(ManageNavPages.EdgeTours);
}

<div class="content-side pull-right col-lg-9 col-md-8 col-sm-12 col-xs-12">
    <!--Services Single-->
    <div class="services-single">
        <div class="inner-box">
            <div class="image">
                <img src="~/images/resource/edge1.png" alt="">
            </div>
            <div>
                <div class="text">
                    <br />
                    <h3><b>High Quality Website Design & Development</b></h3>
                    <br />
                    <ul class="list-style-one">
                        <li>Our expert team of Website Developers & Digital Strategists use cutting edge technology & best practices to create custom sites that increase user engagement.</li>
                        <li>Our websites don’t only look great, they also perform. From the start, we consider your content strategy, information architecture, user-pathways and how to market your site to your audience. Every custom web development project is unique. We want to get to know your brand, understand your needs, and determine an appropriate timeline and project plan tailored to your business.</li>
                        <li>Our team of experts research, analyze, and craft strategic recommendations that will enable you to accomplish your business goals. From stakeholder interviews, to industry analysis, our recommendations are tactical and effective.</li>
                        <li>Our Information Architects define the features, functionalities, structure, and user-experience of our website development projects. Every website needs a foundation, and our IA and UX teams provide the blueprint for your online business.</li>
                        <li>Our talented team of designers create high-end custom designs for mobile, tablet & desktop to elevate brand perception and increase conversion rates. We focus on functional, yet beautiful design throughout the entire website development process.</li>
                        <li>When it’s time to develop a website, we dedicate a collaborative team of web developers to build a custom-developed solution based on the unique needs of your business and the objectives you would like to accomplish.Coding & Development.</li>
                        <li>Before we take your website live, we put our coding to the test through an extensive quality assurance process. With over 100 check points to review, including security, site speed, and functionality, we ensure that your website is prepared for its launch.</li>
                        <li>Once your website has launched, our team of web developers continue to find ways to improve website performance and integrate new site features and functionalities that will continue to elevate and expand your online business.</li>
                        <li>Every custom web development project is unique. We want to get to know your brand, understand your needs, and determine an appropriate timeline and project plan tailored to your business.</li>
                    </ul>

                </div>



            </div>
        </div>
    </div>
</div>
