@using MarkhorTech.Web.Views.Portfolio
@{
    ViewBag.Title = "Moving Trend";
    Layout = "~/Views/Portfolio/_Layout.cshtml";
    ViewData.AddActivePage(ManageNavPages.MovingTrend);
}

<div class="content-side pull-right col-lg-9 col-md-8 col-sm-12 col-xs-12">
    <!--Services Single-->
    <div class="services-single">
        <div class="inner-box">
            <div class="image">
                <img src="~/images/resource/movingtrend.png" alt="">
            </div>
            <div>
                <div class="text">
                    <br />
                    <h3><b>Website Development: Moving Trend</b></h3>
                    <br />
                    <p>we develope this site for combining all major things on a one plateform and that is done. We are living in digital era, and time is the precious one. Everyone is want to know all compulsory facts of this world, which are Education, Health, Tourism, Fashion. This site covers these four necessary fact of life.</p>
                    <p>Education is necessary for the grooming of brain. Brain is body control system if it filled with filtered and perfect things it helpful for the world. Get it free from garbage just filtered it by getting education. Be educated. Health is the sign of activeness. Your body fitness shows how active and healthy you are. Your body language is must be trim and this is done by proper exercise nad nutrient.</</p>
                    <br />
                    <p>Fashion provides you a different look on different occasion. Be touch in with this one to find the new fashion and style. What is coming and is going. Tourism to know about the world and explores its mystery, history and find most fascinating, interesting, natural beauty, and old histroy of human being and new with the merge of new fascination of engineering, architecture with the illusioning of digital world. For further queries e-mail us <b>movingtrend@markhortech.com</b></p>
    
    @*<br>
                    <h4><b>Some of the set-apart features of Tour & Travel Management Software are:</b></h4>
                    <br />
                    <ul class="list-style-one">
                        <li>Multiple POS (Point of Sale)</li>
                        <li>Ability to Handle Multiple Services</li>
                        <li>User-friendly CMS</li>
                        <li>Easy Documentation</li>
                        <li>Features to Incorporate Business Rules</li>
                        <li>Integrated Google Map</li>
                        <li>Auto Cancellation Feature</li>
                        <li>Flexible Mark Up Module</li>
                        <li>Automated System Alerts</li>
                    </ul>
                    <br>*@

                    @*<h4><b>Why choose Markhor Technologies Online Tour & Travel Management Software?</b></h4>
                    <br />
                    <ul class="list-style-one">
                        <li>An all-inclusive travel management application built on an advanced and scalable technology</li>
                        <li>Flexible and easy to use</li>
                        <li>Easy to customize as per clients’ unique specifications</li>
                        <li>Efficient client management featuring the complete details of clients’ queries</li>
                        <li>Sophisticated documentation system with automated billing, receipts and vouchers</li>
                        <li>Management of highly intricate mark-up modules across a variety of channels/li>
                        <li>Highly secured back office system</li>
                        <li>Helps to establish brand loyalty</li>
                        <li>Curtail significant capital expenses and improve ROI</li>
                        <li>Dedicated customer support from experts</li>
                    </ul>*@

                </div>



            </div>
        </div>
    </div>
</div>