@using MarkhorTech.Web.Views.Portfolio
@{
    ViewBag.Title = "Multi SMS Sender";
    Layout = "~/Views/Portfolio/_Layout.cshtml";
    ViewData.AddActivePage(ManageNavPages.MultiSmsSender);
}

<div class="content-side pull-right col-lg-9 col-md-8 col-sm-12 col-xs-12">
    <!--Services Single-->
    <div class="services-single">
        <div class="inner-box">
            <div class="image">
                <img src="~/images/resource/MultiSms.png" alt="">
            </div>
            <div>
                <div class="text">
                    <br />
                    <h3><b>Multi SMS Sender Mobile Application</b></h3>
                    <br />
                    <p>At Markhor Technologies, we created Multi SMS Sender so as to send SMS in bulks to multiple people at a time. It helps to send message, which could be helpful in election campaings, products marketing, spread awarness and like that, to maximum people.</p>
                    <p>Currently, we are upgrading and increasing its functionalities and soon we will launch its latest version.</p>
                    <br>
                    <h4><b>Features:</b></h4>
                    <br />
                    <ul class="list-style-one">
                        <li>Send SMS messages to an unlimited number of contacts with just a few clicks</li>
                        <li>Send bulk sms from Android phone or tablet</li>
                        <li>Option for uploading the data from text files in SD card</li>
                        <li>Option to add Phone Numbers from the contacts</li>
                        <li>Option to Save the Phone Number and Messages as Groups and can be reused later</li>
                        <li>Search phone book contacts by name and phone number</li>
                        <li>Auto save messages in draft while composing your bulk message</li>
                        <li>Send up to 3,600 text messages per hour</li>
                        <li> Reach efficiency and effectiveness by auto sending your promotional materials - real multitasking</li>
                    </ul>
              

                </div>



            </div>
        </div>
    </div>
</div>
