
@using MarkhorTech.Web.Views.Portfolio
@{
    ViewBag.Title = "Pursa Drive";
    Layout = "~/Views/Portfolio/_Layout.cshtml";
    ViewData.AddActivePage(ManageNavPages.PursaDrive);
}

<div class="content-side pull-right col-lg-9 col-md-8 col-sm-12 col-xs-12">
    <!--Services Single-->
    <div class="services-single">
        <div class="inner-box">
            <div class="image">
                <img src="~/images/resource/PursaDrive.png" alt="">
            </div>
            <div>
                <div class="text">
                    <br />
                    <h3><b>Perfect Mobile App for Listening Mp3 Nohay</b></h3>
                    <br />
                    <p>This beautiful app has been designed especially for people belonging to fiqah jafriya. The spirit of Karbala has continuously been kept alive with the tradition of Azadari followed by majalis, matam, marsya and most prominently nauha khwani.This app contains a collection of numerous Nohas from well-known Noha khuwan that everyone would love to listen.</p>                    
                    <br>
                    <h4><b>Worth Knowing features of this app are:</b></h4>
                    <br />
                    <ul class="list-style-one">
                        <li>Elegant layout</li>
                        <li>Easy to use</li>
                        <li>Easy install and unistall</li>
                        <li>Easy to listen</li>
                        <li>High quality Sound</li>
                        <li>Manual Search For Nohas</li>
                    </ul>
                    <br />
                    <p>Do download this app, rate it and share with your friends. </p>

                </div>



            </div>
        </div>
    </div>
</div>