@using MarkhorTech.Web.Views.Products

<ul class="list">
    <li>@Html.ActionLink("Online Tour & Travel Management Software", "TourAndTravelManagement", "Products", new { @style = ManageNavPages.TourAndTravelManagementNavClass(ViewContext) })</li>
</ul>
