@using MarkhorTech.Web.Views.Products
@{
    ViewBag.Title = "Tour & Travel Management";
    Layout = "~/Views/Products/_Layout.cshtml";
    ViewData.AddActivePage(ManageNavPages.TourAndTravelManagement);
}

<div class="content-side pull-right col-lg-9 col-md-8 col-sm-12 col-xs-12">
    <!--Services Single-->
    <div class="services-single">
        <div class="inner-box">
            <div class="image">
                <img src="~/images/resource/tour.jpg" alt="">
            </div>
            <div >
                <div class="text">
                    <br />
                    <h3><b>Online Tour & Travel Management Software</b></h3>
                    <br />
                    <p>At Markhor Technologies, we understand how complicated it is for the service providers in the travel industry to deal with a variety of challenges on a day to day basis, which is why we have come up with a cutting edge tool that serves as a comprehensive travel management system. Intuitive, user-friendly, feature-enriched, and flexible - Markhor Technologies TMS is designed to help travel specialists including tour operators, destination management companies, and travel agencies to respond effectively to their customers’ requisites.</p>
                    <p>As an all-inclusive, professional travel software solution integrated with online booking technology, this sophisticated application from Technoheaven will deliver end-to-end solutions for travel reservation, hotel reservation, operations, back-office, contracts, and distribution system. Incorporated with highly advanced intelligence tools means TMS will further enable you to gain a better understanding of your customers’ needs that alternatively help you to contrive and conceptualize promotional campaigns according to their requirements.</</p>
                    <br>
                    <h4><b>Some of the set-apart features of Tour & Travel Management Software are:</b></h4>
                    <br />
                    <ul class="list-style-one">
                        <li>Multiple POS (Point of Sale)</li>
                        <li>Ability to Handle Multiple Services</li>
                        <li>User-friendly CMS</li>
                        <li>Easy Documentation</li>
                        <li>Features to Incorporate Business Rules</li>
                        <li>Integrated Google Map</li>
                        <li>Auto Cancellation Feature</li>
                        <li>Flexible Mark Up Module</li>
                        <li>Automated System Alerts</li>
                    </ul>
                    <br>
                    
                    <h4><b>Why choose Markhor Technologies Online Tour & Travel Management Software?</b></h4>
                    <br />
                    <ul class="list-style-one">
                        <li>An all-inclusive travel management application built on an advanced and scalable technology</li>
                        <li>Flexible and easy to use</li>
                        <li>Easy to customize as per clients’ unique specifications</li>
                        <li>Efficient client management featuring the complete details of clients’ queries</li>
                        <li>Sophisticated documentation system with automated billing, receipts and vouchers</li>
                        <li>Management of highly intricate mark-up modules across a variety of channels/li>
                        <li>Highly secured back office system</li>
                        <li>Helps to establish brand loyalty</li>
                        <li>Curtail significant capital expenses and improve ROI</li>
                        <li>Dedicated customer support from experts</li>
                    </ul>

                </div>



            </div>
        </div>
    </div>
</div>