@{
    ViewBag.Title = "About";
}

	<!--Page Title-->
<section class="page-title" style="background-image: url(/images/background/4.jpg);">
    <div class="auto-container">
        <h1>About Us</h1>
        <ul class="bread-crumb">

            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <!--<li><a href="#">About</a></li>-->
            <li class="active">About Us</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!--Two Default Section-->
<section class="about-section">
    <div class="auto-container">

        <div class="row clearfix">

            <div class="about-column column col-md-7 col-sm-12 col-xs-12">
                <div class="inner">

                    <h3 class="title">How you can save time &amp; money in your Business</h3>
                    <div class="text">
                        We have a team that has grown rapidly to include knowledge and expertise in a variety of technologies and frameworks, and we have used these to create some of the best products out there. Despite this, each of us comes to work every day with the mission to learn new things and to make existing things better. We help each other strive to make each software revision faster or better than the last. Our quality and the way we organize the process & everything is as simple as it sounds: if you are not satisfied, you can keep looking for other proposals! You won't lose anything!
                    </div>
                    <div class="row clearfix">
                        <!--Text Column-->
                        <div class="text-column col-md-6 col-sm-6 col-xs-12">
                            <h3>Who We Are?</h3>
                            <div class="text">Markhor Technologies is a leading global provider of software engineering services for companies in the mobile, desktop, server, and embedded systems industries.</div>
                            <div class="btn-box"><a href="about.html" class="theme-btn btn-style-one">Learn More</a></div>
                        </div>
                        <!--Text Column-->
                        <div class="text-column col-md-6 col-sm-6 col-xs-12">
                            <h3>Our Mission</h3>
                            <div class="text">We love to build and refine technologies that improve lives while developing great relationships along the way. </div>
                            <div class="signature"><img src="~/images/resource/signature.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--video Column-->
            <div class="video-column col-md-5 col-sm-12 col-xs-12">
                <!--video-box-->
                <div class="video-image-box">
                    <figure class="image">
                        <img src="~/images/gallery/About.jpg" alt="">
                        <a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="overlay-link lightbox-image video-fancybox"><span class="icon flaticon-play-button"></span></a>
                    </figure>
                </div>
            </div>

        </div>

    </div>
</section>
<!--End Two Default Section-->
<!--<section class="parallax-two" style="background-image:url(images/background/parallax2.jpg);">
    <div class="container">
        <div class="content">
            <h2>Essentials of Work Place and the Environment We Keeps</h2>
            <div class="text">
                <p>Conubia magna donec dis quis dapibus quisque tristique fames etiam viverra et fusce quis eu suspendisse turpis. A praesent nascetur lobortis <br> urna nisi a dictumst ac a a curae nascetur aliquam  vehicula mattis mattis molestie sit ut.Hac in malesuada porttitor suspendisse non venenatis<br> vehicula eleifend a ullamcorper ut a cum suspendisse.</p>
            </div>
            <div class="link"><a href="#" class="theme-btn btn-style-one">Read More</a><a href="#" class="theme-btn btn-style-two">Contact Us</a></div>
        </div>
    </div>
</section>-->

<section class="why-chooseus_professional">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <h2>Why Choose Us</h2>
            <div class="separator"></div>
        </div>
        <div class="row clearfix">
            <!--Services Style One-->
            <div class="services-style-one col-md-4 col-sm-6 col-xs-12">
                <div class="inner">
                    <div class="image-layer"></div>
                    <div class="icon-box">
                        <span class="icon flaticon-monitor"></span>
                    </div>
                    <h3><a>From Idea to Product</a></h3>
                    <div class="text">We will use our extensive knowledge of technology to propose a custom solution fitted to your specific requirements and turn your idea into a successful product.</div>
                </div>
            </div>

            <!--Services Style One-->
            <div class="services-style-one col-md-4 col-sm-6 col-xs-12">
                <div class="inner">
                    <div class="image-layer"></div>
                    <div class="icon-box">
                        <span class="icon flaticon-travel"></span>
                    </div>
                    <h3><a>Well Thought-Out Design</a></h3>
                    <div class="text">When a new development kicks off, we start by writing a software design specification which clearly defines the goals and requirements of the product.</div>
                </div>
            </div>

            <!--Services Style One-->
            <div class="services-style-one col-md-4 col-sm-6 col-xs-12">
                <div class="inner">
                    <div class="image-layer"></div>
                    <div class="icon-box">
                        <span class="icon flaticon-user"></span>
                    </div>
                    <h3><a>Accountability</a></h3>
                    <div class="text">We keep our customers in the loop & email a weekly project update, progress made, issues encountered so you can keep track of costs & status at any point in time.</div>
                </div>
            </div>

            <!--Services Style One-->
            <div class="services-style-one col-md-4 col-sm-6 col-xs-12">
                <div class="inner">
                    <div class="image-layer"></div>
                    <div class="icon-box">
                        <span class="icon flaticon-business-1"></span>
                    </div>
                    <h3><a>Adaptability</a></h3>
                    <div class="text">We follow the Agile software development methodology which enables us to respond to changes in requirements & end-user needs rapidly & cost-effectively.</div>
                </div>
            </div>

            <!--Services Style One-->
            <div class="services-style-one col-md-4 col-sm-6 col-xs-12">
                <div class="inner">
                    <div class="image-layer"></div>
                    <div class="icon-box">
                        <span class="icon flaticon-layers"></span>
                    </div>
                    <h3><a>Low Technical Debt</a></h3>
                    <div class="text">Our test-driven approach ensures our code is always testable. This helps in keeping ‘technical debt’ low and deliver products of the highest quality. </div>
                </div>
            </div>

            <!--Services Style One-->
            <div class="services-style-one col-md-4 col-sm-6 col-xs-12">
                <div class="inner">
                    <div class="image-layer"></div>
                    <div class="icon-box">
                        <span class="icon flaticon-business"></span>
                    </div>
                    <h3><a>The Right Tools</a></h3>
                    <div class="text">We set up every software project with source control & its own Wiki-based online documentation on our server. It allows you to report any issue conveniently. </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!--Fun Facts Section-->
<!--<div class="fact-counter-column" data-parallax="scroll" data-image-src="images/background/2.jpg"">
    <div class="auto-container">
        <div class="fact-counter">
            <div class="row clearfix">-->
<!--Column-->
<!--<div class="column counter-column wow fadeIn col-md-3 col-sm-6 col-xs-12">
    <div class="inner">
        <div class="icon-box"><i class="flaticon-travel-1"></i></div>
        <div class="count-outer">
            <span class="count-text" data-speed="2000" data-stop="1275">0</span>
        </div>
        <h4 class="counter-title">Project Finished</h4>
    </div>
</div>-->
<!--Column-->
<!--<div class="column counter-column wow fadeIn col-md-3 col-sm-6 col-xs-12">
    <div class="inner">
        <div class="icon-box"><i class="flaticon-light-bulb"></i></div>
        <div class="count-outer">
            <span class="count-text" data-speed="3000" data-stop="5720">0</span>
        </div>
        <h4 class="counter-title">Successful Projects</h4>
    </div>
</div>-->
<!--Column-->
<!--<div class="column counter-column wow fadeIn col-md-3 col-sm-6 col-xs-12">
    <div class="inner">
        <div class="icon-box"><i class="flaticon-competition"></i></div>
        <div class="count-outer">
            <span class="count-text" data-speed="2000" data-stop="970">0</span>
        </div>
        <h4 class="counter-title">Awards Winning</h4>
    </div>
</div>-->
<!--Column-->
<!--<div class="column counter-column wow fadeIn col-md-3 col-sm-6 col-xs-12">
                    <div class="inner">
                        <div class="icon-box"><i class="flaticon-coffee-cup"></i></div>
                        <div class="count-outer">
                            <span class="count-text" data-speed="2000" data-stop="2492">0</span>
                        </div>
                        <h4 class="counter-title">Cup Of Coffee</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>-->
<!--Fun Facts Section-->
<!--Testimonail Section-->
<!--<section class="team-section">
    <div class="auto-container">
        <div class="sec-title">
            <h2>Meet Our <span class="theme_color">Team</span></h2>
            <span class="separator"></span>
        </div>
        <div class="three-item-carousel owl-theme owl-carousel owl-loaded owl-nav-none owl-dots-none">
            <div class="team-block-one">
                <div class="inner-box">
                    <div class="image-box">
                        <img src="images/resource/staff-8.jpg" alt="">
                    </div>
                    <h3>STEVEN SMITH</h3>
                    <div class="designation">Sports Teacher</div>
                    <div class="text">The ship set ground on the shore of this uncharted a desert isle with that this group.</div>
                    <ul class="social-icons clearfix">
                        <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="team-block-one">
                <div class="inner-box">
                    <div class="image-box">
                        <img src="images/resource/staff-9.jpg" alt="">
                    </div>
                    <h3>STEVEN SMITH</h3>
                    <div class="designation">Sports Teacher</div>
                    <div class="text">The ship set ground on the shore of this uncharted a desert isle with that this group.</div>
                    <ul class="social-icons clearfix">
                        <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="team-block-one">
                <div class="inner-box">
                    <div class="image-box">
                        <img src="images/resource/staff-10.jpg" alt="">
                    </div>
                    <h3>STEVEN SMITH</h3>
                    <div class="designation">Sports Teacher</div>
                    <div class="text">The ship set ground on the shore of this uncharted a desert isle with that this group.</div>
                    <ul class="social-icons clearfix">
                        <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>-->
<!--End Testimonail Section-->


<!--Subscribe Style One-->
@*<section class="subscribe-style-one">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-md-7 col-sm-12">
                <h2>Sign Up for Newsletter</h2>
                <div class="text">We’ll be with you on every walk of life on how to identify new opportunities.</div>
            </div>
            <div class="col-md-5 col-sm-12">
                <form method="post" action="">
                    <div class="form-group">
                        <input type="email" name="email" value="" placeholder="Enter your Email" required>
                        <button type="submit" class="theme-btn btn-style-one">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>*@
<!--End Subscribe Style One-->
