
@{
    ViewBag.Title = "Board of Directors";
}

<!--Page Title-->
<section class="page-title" style="background-image: url(/images/background/4.jpg);">
    <div class="auto-container">
        <h1>Board of Directors</h1>
        <ul class="bread-crumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">Board of Directors</li>

        </ul>
    </div>
</section>
<!--End Page Title-->
<!--Staff Section-->
<section class="staff-section">
    <div class="auto-container">

        <div class="row clearfix">


            <!--Staff Member-->

            <div>
                @*<div id="test-1" class="staff-member col-md-3 col-sm-6 col-xs-12">
                </div>*@

                <div class="staff-member col-md-3 col-sm-6 col-xs-12">
                    <div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <figure class="image-box">
                            <img class="Pic-Resize" src="~/images/resource/k3.jpg" alt="" />
                            <div class="overlay-box">
                                <ul class="social-icon-two">
                                    <li><a href="https://www.facebook.com/kumail.abbas.547"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a><span class="fa fa-twitter"></span></a></li>                                   
                                </ul>
                            </div>
                        </figure>
                        <div class="lower-content">
                            <h3><a href="">Kumail Abbas</a></h3>
                            <div class="designation">Founder & Director Markhor Technologies (Pvt.) Ltd</div>
                            <div class="text">
                                <p>Kumail Abbas, Microsoft Certified, graduated from CIIT, serves as the managing director of Markhor Technologies (Pvt.) Ltd. Pakistan.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="staff-member col-md-3 col-sm-6 col-xs-12">
                    <div class="inner-box wow fadeIn" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <figure class="image-box">

                            <img class="Pic-Resize" src="~/images/resource/s1.jpg" alt="" />

                            <div class="overlay-box">
                                <ul class="social-icon-two">
                                    <li><a href="https://www.facebook.com/shuja075"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a><span class="fa fa-twitter"></span></a></li>
                                   
                                </ul>
                            </div>
                        </figure>
                        <div class="lower-content">
                            <h3><a href="">Syed Shuja Haider</a></h3>
                            <div class="designation">Founder & Director Markhor Technologies (Pvt.) Ltd</div>
                            <div class="text">
                                <p>Shuja Haider, Microsoft Certified, graduated from CIIT, serves as the managing director of Markhor Technologies (Pvt.) Ltd. Pakistan.</p>
                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="staff-member col-md-3 col-sm-6 col-xs-12">
                    <div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <figure class="image-box">
                            <img class="Pic-Resize" src="~/images/resource/Saqib.png" alt="" />
                            <div class="overlay-box">
                                <ul class="social-icon-two">
                                    <li><a href="https://www.facebook.com/kumail.abbas.547"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a><span class="fa fa-twitter"></span></a></li>
                                </ul>
                            </div>
                        </figure>
                        <div class="lower-content">
                            <h3><a href="">Saqib Raza</a></h3>
                            <div class="designation">Director Markhor Technologies (Pvt.) Ltd</div>
                            <div class="text">
                                <p>Saqib Raza, Microsoft Certified, graduated from PU, serves as the managing director of Markhor Technologies (Pvt.) Ltd. Pakistan.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="staff-member col-md-3 col-sm-6 col-xs-12">
                    <div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <figure class="image-box">
                            <img class="Pic-Resize" src="~/images/resource/Saqib.png" alt="" />
                            <div class="overlay-box">
                                <ul class="social-icon-two">
                                    <li><a href="https://www.facebook.com/kumail.abbas.547"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a><span class="fa fa-twitter"></span></a></li>
                                </ul>
                            </div>
                        </figure>
                        <div class="lower-content">
                            <h3><a href="">Hassan Jamil</a></h3>
                            <div class="designation"> Director Markhor Technologies (Pvt.) Ltd</div>
                            <div class="text">
                                <p>Hassan Jamil, Microsoft Certified, graduated from CIIT, serves as the managing director of Markhor Technologies (Pvt.) Ltd. Pakistan.</p>
                            </div>
                        </div>
                    </div>
                </div>*@

                <div id="test-2" class="staff-member col-md-3 col-sm-6 col-xs-12">
                </div>
            </div>

            <!--<div class="staff-member col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <figure class="image-box">
                        <img src="images/resource/staff-5.jpg" alt="" />
                        <div class="overlay-box">
                            <ul class="social-icon-two">
                                <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                            </ul>
                        </div>
                    </figure>
                    <div class="lower-content">
                        <h3><a href="#">JENNY AARON</a></h3>
                        <div class="designation">Chief Finance Officer</div>
                        <div class="text">
                            <p>Mirum est notare quam littera gothica, quam putamus</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="staff-member col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeIn" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <figure class="image-box">
                        <img src="images/resource/staff-6.jpg" alt="" />
                        <div class="overlay-box">
                            <ul class="social-icon-two">
                                <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                            </ul>
                        </div>
                    </figure>
                    <div class="lower-content">
                        <h3><a href="#">STEVEN FINCH</a></h3>
                        <div class="designation">Executive Director</div>
                        <div class="text">
                            <p>Mirum est notare quam littera gothica, quam putamus</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="staff-member col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeIn" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <figure class="image-box">
                        <img src="images/resource/staff-7.jpg" alt="" />
                        <div class="overlay-box">
                            <ul class="social-icon-two">
                                <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                            </ul>
                        </div>
                    </figure>
                    <div class="lower-content">
                        <h3><a href="#">GARRY MILLER</a></h3>
                        <div class="designation">Marketing Officer</div>
                        <div class="text">
                            <p>Mirum est notare quam littera gothica, quam putamus</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="staff-member col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeIn" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <figure class="image-box">
                        <img src="images/resource/staff-1.jpg" alt="" />
                        <div class="overlay-box">
                            <ul class="social-icon-two">
                                <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                            </ul>
                        </div>
                    </figure>
                    <div class="lower-content">
                        <h3><a href="#">MICHEL PUMP</a></h3>
                        <div class="designation">Development Officer</div>
                        <div class="text">
                            <p>Mirum est notare quam littera gothica, quam putamus</p>
                        </div>
                    </div>
                </div>
            </div>-->
            <!--Staff Member-->


        </div>

    </div>

</section>
<!--End Staff Section-->


