
@{
    ViewBag.Title = "Custom Software Development";
}

	<!--Page Title-->
<section class="page-title" style="background-image: url(/images/background/4.jpg);">
    <div class="auto-container">
        <h1>Custom Software <br /> Development</h1>
        <ul class="bread-crumb">
            
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">Custom Software Development</li>
           
        </ul>
    </div>
</section>
<!--End Page Title-->

<div class="sidebar-page-container blog-page">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Content Side-->
            <div class="content-side pull-right col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <!--Services Single-->
                <div class="services-single">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/images/resource/csd1.png" alt="">
                        </div>
                        <div class="services-content">
                            <div class="text">
                                <p>Matching market trends and business opportunities with innovative software products in the shortest time possible is an ongoing challenge for today’s enterprises. Markhor Technologies offers a full spectrum of custom software development services to meet those challenges, from application architecture, application development, testing and customization.</p>
                                <p>Our software development capabilities are based on industry best practices to meet the most complex requirements. We apply agile and iterative development, adapted to a geographically distributed environment concerning application concepts, software architecture and specifications.  We understand that time-to-market is an important differentiator in today’s business environment.  We strive to develop and deliver state of the art software with quality, in the shortest amount of time possible.</p>
                                <br>
                                <h4>Software Development Services</h4>
                                <p>Markhor Technologies offers you a large variety of software development services.</p>
                                <br>
                                <div class="row clearfix">
                                    <!--Services Block Three-->
                                    <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                        <div class="inner-box">
                                            <div class="icon-box">
                                                <span class="icon flaticon-team"></span>
                                            </div>
                                            <div class="content-box">
                                                <h3><a href="#">Product Development</a></h3>
                                                <div class="text">At Markhor Technologies, we’re happy to begin a conversation with you at the beginning of your project or once it’s already underway.</div>

                                            </div>
                                        </div>
                                    </div>

                                    <!--Services Block Three-->
                                    <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                        <div class="inner-box">
                                            <div class="icon-box">
                                                <span class="icon fa fa-bullhorn"></span>
                                            </div>
                                            <div class="content-box">
                                                <h3><a href="#">Project <br> Recovery</a></h3>
                                                <div class="text"> If your existing provider isn’t working out or you need help rebalancing an internal team, Markhor Technologies is here for you.</div>

                                            </div>
                                        </div>
                                    </div>

                                    <!--Services Block Three-->
                                    <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                        <div class="inner-box">
                                            <div class="icon-box">
                                                <span class="icon flaticon-graphic-3"></span>
                                            </div>
                                            <div class="content-box">
                                                <h3><a href="#">Software Enhancement & Modernization</a></h3>
                                                <div class="text">Markhor Technologies will utilize latest and always up-to-date technologies to lengthen the life of your legacy system.</div>

                                            </div>
                                        </div>
                                    </div>

                                    <!--Services Block Three-->
                                    <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                        <div class="inner-box">
                                            <div class="icon-box">
                                                <span class="icon flaticon-monitor"></span>
                                            </div>
                                            <div class="content-box">
                                                <h3><a href="#">Entreprise Solutions Development </a></h3>
                                                <div class="text">Markhor Technologies depth of experience enables us to design &Aacute; develop varying complexities of business enterprise solutions.</div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <p>There are all Happy and Free these days you wanna be where everybody knows your name fish do not fry in the kitchen and beans do not burn on the grill took a whole lotta trying just to get up that hill.<br><br></p>
                            </div>

                            <!--Two Column-->
                            <div class="two-column">
                                <div class="row clearfix">
                                    <!--Image Column-->
                                    <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                        <div class="image">
                                            <img src="~/images/resource/service-4.jpg" alt="">
                                        </div>
                                    </div>
                                    <!--Content Column-->
                                    <div class="content-column col-md-6 col-sm-6 col-xs-12">
                                        <h4>Understanding your business</h4>
                                        <div class="text">We begin every relationship with an in-depth discussion about the short and long-term desires for your project. Our engineers will review any hidden requirements and your existing codebase, if you have one. When we know your goals and understand existing software, we are able to better ensure the success of the project before we even write our first line of code. By the end of this phase, Markhor Technologies works together with you to make a plan of development that accords with your goals, your timeline and your operating budget.</div>
                                        <!--<ul class="list-style-one">
                                            <li>States starship enterprise the Brady.</li>
                                            <li>The odds are against him and their dangers.</li>
                                            <li>Travelled down the road and back again.</li>
                                            <li>A loveable space that needs your face threes.</li>-->
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!--Two Column-->
                            <div class="two-column">
                                <div class="row clearfix">
                                    <!--Content Column-->
                                    <div class="content-column col-md-6 col-sm-6 col-xs-12">
                                        <h4>Business Insights</h4>
                                        <div class="text">Tell us your needs, desired functionality, the business methods used, and we will design the most appropriate solution to meet your needs. Markhor Technologies works with the knowledge that most businesses will evolve and change, so we build your software solutions scalable and flexible enough for easy adaptation down the road.</div>
                                        <!--<ul class="list-style-one">
                                            <li>States starship enterprise the Brady.</li>
                                            <li>The odds are against him and their dangers.</li>
                                            <li>Travelled down the road and back again.</li>
                                            <li>A loveable space that needs your face threes.</li>
                                        </ul>-->
                                    </div>
                                    <!--Image Column-->
                                    <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                        <div class="image">
                                            <img src="~/images/resource/service-5.jpg" alt="">
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--Sidebar-->
            <div class="sidebar-side pull-left col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <aside class="sidebar">

                    <!-- Sidebar Category -->
                    <div class="sidebar-widget sidebar-category">
                        <ul class="list">
                            <li><a href="#">Custom Software Development</a></li>
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">Mobile App Development</a></li>
                            <li><a href="#">Database Development</a></li>
                            <li><a href="#">POS Solutions</a></li>
                            <li><a href="#">ERP Solutions</a></li>
                            <li><a href="#">CSM Solutions</a></li>
                            <li><a href="#">Travel Management Solutions</a></li>
                        </ul>
                    </div>

                    <!-- Sidebar Brouchers -->
                    <div class="sidebar-widget sidebar-broucher">
                        <div class="sidebar-title">
                            <h2>Download Brochures</h2>
                        </div>
                        <ul class="brouchers">
                            <li><a href="#"><span class="icon flaticon-pdf"></span> Download file . pdf <span class="download-icon fa fa-download"></span></a></li>
                            <li><a href="#"><span class="icon flaticon-file"></span> Download file . doc <span class="download-icon fa fa-download"></span></a></li>
                            <li><a href="#"><span class="icon flaticon-file-1"></span> Download file . ppt <span class="download-icon fa fa-download"></span></a></li>
                        </ul>
                    </div>

                    <!-- Quote Widget-->
                    <div class="sidebar-widget quote-widget">
                        <div class="inner-box">
                            <h2>Free Consultation</h2>
                            <div class="text">These days are all share them with  much more than a hunch.</div>
                            <a href="contact.html" class="theme-btn btn-style-one">Get Quotes</a>
                        </div>
                    </div>

                </aside>
            </div>
            <!--End Sidebar-->

        </div>
    </div>
</div>

