
@{
    ViewBag.Title = "Testimonial";
}

	<!--Page Title-->
<section class="page-title" style="background-image: url(/images/background/4.jpg);">
    <div class="auto-container">
        <h1>Testimonials</h1>
        <ul class="bread-crumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About Us", "About", "Home")</li>
            <li class="active">Testimonials</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!-- testimonial -->
<section class="testimonial-section2">
    <div class="auto-container">

        <div class="row clearfix">
            <article class="col-md-4 col-sm-6 col-xs-12">
                <div class="testimonial-item">
                    <div class="content">
                        <span class="fa fa-quote-left"></span>
                        <p>Lorem ipsum dolor sit amet ment tionim sea. Ei explicari evertitur uptatum vi core zupitor inciderint reforin alienum</p>

                        <ul class="rating">
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                        </ul>
                    </div>
                    <div class="author">
                        <ul class="list-inline">
                            <li>
                                <img src="~/images/team/1.jpg" alt="">
                            </li>
                            <li>
                                <h5>Don Flethcer</h5>
                                <p>Los Angeles</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
            <article class="col-md-4 col-sm-6 col-xs-12">
                <div class="testimonial-item">
                    <div class="content">
                        <span class="fa fa-quote-left"></span>
                        <p>Lorem ipsum dolor sit amet ment tionim sea. Ei explicari evertitur uptatum vi core zupitor inciderint reforin alienum</p>

                        <ul class="rating">
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                        </ul>
                    </div>
                    <div class="author">
                        <ul class="list-inline">
                            <li>
                                <img src="~/images/team/2.jpg" alt="">
                            </li>
                            <li>
                                <h5>mack raider</h5>
                                <p>California</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
            <article class="col-md-4 col-sm-6 col-xs-12">
                <div class="testimonial-item">
                    <div class="content">
                        <span class="fa fa-quote-left"></span>
                        <p>Lorem ipsum dolor sit amet ment tionim sea. Ei explicari evertitur uptatum vi core zupitor inciderint reforin alienum</p>

                        <ul class="rating">
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                        </ul>
                    </div>
                    <div class="author">
                        <ul class="list-inline">
                            <li>
                                <img src="~/images/team/3.jpg" alt="">
                            </li>
                            <li>
                                <h5>Don Flethcer</h5>
                                <p>Los Angeles</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
            <article class="col-md-4 col-sm-6 col-xs-12">
                <div class="testimonial-item">
                    <div class="content">
                        <span class="fa fa-quote-left"></span>
                        <p>Lorem ipsum dolor sit amet ment tionim sea. Ei explicari evertitur uptatum vi core zupitor inciderint reforin alienum</p>

                        <ul class="rating">
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                        </ul>
                    </div>
                    <div class="author">
                        <ul class="list-inline">
                            <li>
                                <img src="~/images/team/4.jpg" alt="">
                            </li>
                            <li>
                                <h5>Don Flethcer</h5>
                                <p>Los Angeles</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
            <article class="col-md-4 col-sm-6 col-xs-12">
                <div class="testimonial-item">
                    <div class="content">
                        <span class="fa fa-quote-left"></span>
                        <p>Lorem ipsum dolor sit amet ment tionim sea. Ei explicari evertitur uptatum vi core zupitor inciderint reforin alienum</p>

                        <ul class="rating">
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                        </ul>
                    </div>
                    <div class="author">
                        <ul class="list-inline">
                            <li>
                                <img src="~/images/team/5.jpg" alt="">
                            </li>
                            <li>
                                <h5>mack raider</h5>
                                <p>California</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
            <article class="col-md-4 col-sm-6 col-xs-12">
                <div class="testimonial-item">
                    <div class="content">
                        <span class="fa fa-quote-left"></span>
                        <p>Lorem ipsum dolor sit amet ment tionim sea. Ei explicari evertitur uptatum vi core zupitor inciderint reforin alienum</p>

                        <ul class="rating">
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                        </ul>
                    </div>
                    <div class="author">
                        <ul class="list-inline">
                            <li>
                                <img src="~/images/team/6.jpg" alt="">
                            </li>
                            <li>
                                <h5>Don Flethcer</h5>
                                <p>Los Angeles</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
