 @using MarkhorTech.Web.Views.Services
@{
    ViewBag.Title = "CRM Solutions";
    Layout = "~/Views/Services/_Layout.cshtml";
    ViewData.AddActivePage(ManageNavPages.CRMSolutions);
}

<div class="content-side pull-right col-lg-9 col-md-8 col-sm-12 col-xs-12">
    <!--Services Single-->
    <div class="services-single">
        <div class="inner-box">
            <div class="image">
                <img src="~/images/resource/crm1.jpg" alt="">
            </div>
            <div class="services-content">
                <div class="text">                  
                    <p> Regardless of your business, your relationships with your customers are your greatest asset in a tough economy. Today, many organizations are looking at ways to become more client-centric, using supporting technologies such as customer relationship management (CRM) software. But, with all the CRM solutions available today, it can be difficult to know where to start in determining which solution best fits your needs.</p>
                    <p>The right CRM solution can embed best practices unique to your industry, work with your company's specific business processes, help you keep pace with rapid changes in your business and market, deliver quantifiable business results, and mitigate expense and risk for your business. </p>
                    <p>A good CRM gives you insights into running your business. A smart CRM gives you the information you need in a way that you can use it. An ideal CRM offers you a solution to simplify your processes from day one. Markhor Express CRM includes the good, the smart, and the ideal in an enterprise-ready package.</p>
                    <br>
                    <h4>Sell More With CRM</h4>
                    <p>Integrated CRM which makes Customer Management easy with Contacts, Leads, Opportunities, Accounts, Campaigns, Products, Reports, Revenue Forecasting and more.</p>
                    <br>
                    <div class="row clearfix">
                        <!--Services Block Three-->
                        <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon fa fa-sliders"></span>
                                </div>
                                <div class="content-box">
                                    <h3><a>Multiple Channels, One Conversation</a></h3>
                                    <div class="text">Meet your customers, no matter the medium. Connect via phone, live chat, email, social media, and in person.</div>

                                </div>
                            </div>
                        </div>

                        <!--Services Block Three-->
                        <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon fa fa-rocket"></span>
                                </div>
                                <div class="content-box">
                                    <h3><a>Shift Your Team Into High Gear</a></h3>
                                    <div class="text">Use analytics and reports for detailed metrics about your team's performance and your customers' life cycle. </div>

                                </div>
                            </div>
                        </div>

                        <!--Services Block Three-->
                        <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon fa fa-retweet"></span>
                                </div>
                                <div class="content-box">
                                    <h3><a>Software That Works The Way You Do.</a></h3>
                                    <div class="text">Adapt your CRM to meet the market. Customize how you collect and deploy key data across your organization. </div>
                                </div>
                            </div>
                        </div>



                        <!--Services Block Three-->
                        <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon fa fa-signing"></span>
                                </div>
                                <div class="content-box">
                                    <h3><a>More Deals, In Less Time.</a></h3>
                                    <div class="text">From contact to close, cut the energy it takes to pass leads through the pipeline with the best sales productivity tools.</div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <p>CRM solutions help ensure that your sales, marketing, and support efforts are all working toward a common goal, so you can take your business success to a whole new level.<br><br></p>
                </div>

                <!--Two Column-->
                <div class="two-column">
                    <div class="row clearfix">
                        <!--Image Column-->
                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                            <div class="image">
                                <img src="~/images/resource/crm3.jpg" alt="">
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-6 col-xs-12">
                            <h4>Channel Optimization</h4>
                            <div class="text">Whether social media, live chat or co-browsing, video interaction, or classic channels like the telephone: We use automated analysis to determine the current customer and contact situation in real time, and always direct our communication into the optimum channel. In order to reach your customers in the optimum manner, we always direct our customer communication into the appropriate channel. </div>
                            <!--<ul class="list-style-one">
                                <li>States starship enterprise the Brady.</li>
                                <li>The odds are against him and their dangers.</li>
                                <li>Travelled down the road and back again.</li>
                                <li>A loveable space that needs your face threes.</li>-->
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Two Column-->
                <div class="two-column">
                    <div class="row clearfix">
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-6 col-xs-12">
                            <h4>Industry solutions</h4>
                            <div class="text">Businesses representing many different industries rely on our integrated solution portfolio and our longstanding experience. Our customers range from telecommunication firms to energy suppliers, banks, insurance companies, e-commerce retailers and airlines. Through the expertise we have gained serving a broad spectrum of industries, we understand the specific requirements of your business in detail.</div>
                            @*<ul class="list-style-one">
                                    <li>Develop concept and design for software</li>
                                    <li>Add features in the software that are user friendly</li>
                                    <li>Easy and simple user interface design development</li>
                                    <li>Test and validate the software</li>
                                    <li>Launch the software with a complete strategy to support it</li>
                                </ul>*@
                        </div>
                        <!--Image Column-->
                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                            <div class="image">
                                <img src="~/images/resource/crm9.jpg" alt="">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

