@using MarkhorTech.Web.Views.Services
@{
    ViewBag.Title = "Database Development";
    Layout = "~/Views/Services/_Layout.cshtml";
    ViewData.AddActivePage(ManageNavPages.DtabaseDevelpment);
}

<div class="content-side pull-right col-lg-9 col-md-8 col-sm-12 col-xs-12">
    <!--Services Single-->
    <div class="services-single">
        <div class="inner-box">
            <div class="image">
                <img src="~/images/resource/db1.jpg" alt="">
            </div>
            <div class="services-content">
                <div class="text">
                    <p>Markhor Technologies provides you with the provision of having a customized, well defined, secured database model that suits your business operations and enables you to retrieve information easily, rapidly, and securely. This is provided by seamlessly integrating with the client's Relational Database Management Systems (RDBMS), be it Oracle, Microsoft SQL Server, MS Access, or others.</p>
                    <p> Today's businesses depend on their databases to provide information essential for day-to-day operations, especially in case of electronic commerce businesses who has a definite advantage with up-to-date database access. Good design forms the foundation of any database, and experienced hands are required in the automation process to design for optimum and stable performance.</p>
                    <p>Markhor Technologies have been constantly working on these platforms and have attained a level of expertise. We apply proven methodologies to design, develop, integrate and implement database systems to attain its optimum level of performance and maximize security to meet the client's business model. </p>
                    <br>
                    <h4>Why Do We Really Need Database Development?</h4>
                    <p>Database development offers security and assurance of protection of the data. The data can also be referred to, shared or easily verified without any hassle. Such applications are easy to install and use as well. They are hassle-free and efficient. A few of the major advantages of database development are as follows:</p>
                    <br>
                    <div class="row clearfix">
                        <!--Services Block Three-->
                        <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon fa fa-users"></span>
                                </div>
                                <div class="content-box">
                                    <h3><a>Efficient User Management</a></h3>
                                    <div class="text">Database development offers full security of your personal data & attaches a few criteria to your identification.</div>

                                </div>
                            </div>
                        </div>

                        <!--Services Block Three-->
                        <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon fa fa-user-secret"></span>
                                </div>
                                <div class="content-box">
                                    <h3><a>Security and Back-up</a></h3>
                                    <div class="text">The software can identify the user & necessary settings have been adopted. Only owner can access the data, if he wishes so. </div>

                                </div>
                            </div>
                        </div>

                        <!--Services Block Three-->
                        <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon 	fa fa-universal-access"></span>
                                </div>
                                <div class="content-box">
                                    <h3><a>Easy Access</a></h3>
                                    <div class="text">The data tapped into the software can be extracted easily. It helps in immediate reference and retrieval of data. </div>
                                </div>
                            </div>
                        </div>

            

                        <!--Services Block Three-->
                        <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon 	fa fa-user-plus"></span>
                                </div>
                                <div class="content-box">
                                    <h3><a>Data Integration</a></h3>
                                    <div class="text">Data of any year or job can be collaborated or disintegrated easily. It is trouble-free and efficient.</div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <p> We offer to you the latest database development technology. We consider your needs and produce output accordingly. We aid you in setting up software which is designed just for your needs.<br><br></p>
                </div>

                <!--Two Column-->
                <div class="two-column">
                    <div class="row clearfix">
                        <!--Image Column-->
                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                            <div class="image">
                                <img src="~/images/resource/db7.png" alt="">
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-6 col-xs-12">
                            <h4>Quality Yet Cheap Database Development</h4>
                            <div class="text">Affordability is an important aspect that small and medium size businesses are concerned about and why not? Even if it is a completely established business, cost is always considered and benefits are weighed. Having said that, we assure you that our cheap database development company, Markhor Technologies, offers the most affordable packages for all our services. Our database consultants and designers will coordinate with your team to develop the best database and software solutions for your company and make sure the cost doesn’t bother you much.</div>
                            <!--<ul class="list-style-one">
                                <li>States starship enterprise the Brady.</li>
                                <li>The odds are against him and their dangers.</li>
                                <li>Travelled down the road and back again.</li>
                                <li>A loveable space that needs your face threes.</li>-->
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Two Column-->
                <div class="two-column">
                    <div class="row clearfix">
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-6 col-xs-12">
                            <h4>Markhor Technologies Is All That Your Business Needs</h4>
                            <div class="text">We work in cohesion with our clients to extract information about their needs and develop a software customized in accordance with their business goals. Our software development company designs and produces a software that works perfectly to boost the efficacy of your business. Here’s how we do it for you:</div>
                            <ul class="list-style-one">
                                <li>Develop concept and design for software</li>
                                <li>Add features in the software that are user friendly</li>
                                <li>Easy and simple user interface design development</li>
                                <li>Test and validate the software</li>
                                <li>Launch the software with a complete strategy to support it</li>
                            </ul>
                        </div>
                        <!--Image Column-->
                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                            <div class="image">
                                <img src="~/images/resource/db9.jpg" alt="">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

