@using MarkhorTech.Web.Views.Services
@{
    ViewBag.Title = "ERP Solutions";
    Layout = "~/Views/Services/_Layout.cshtml";
    ViewData.AddActivePage(ManageNavPages.ERPSolutions);
}

<div class="content-side pull-right col-lg-9 col-md-8 col-sm-12 col-xs-12">
    <!--Services Single-->
    <div class="services-single">
        <div class="inner-box">
            <div class="image">
                <img src="~/images/resource/erp2.jpg" alt="">
            </div>
            <div class="services-content">
                <div class="text">
                    <p>Every business has unique processes and needs, but ultimately, every business needs technology with comprehensive business functionality that ties the entire enterprise together, connecting all the moving parts and providing better visibility into operations. Markhor Technologies offers integrated Enterprise Resource Planning (ERP) solutions that help businesses operate more effectively and see the big picture, so they can make strategic decisions that keep them efficient and profitable.</p>
                    <p> Regardless of your industry, you need an ERP software solution to be the backbone of your business, automating and supporting business processes. The best ERP solutions, however, are fully integrated with all your systems across the enterprise, bringing value to every functional area, from finance to customer service to management, and if you’re in manufacturing, this includes your engineering, design and supply chain teams as well.</p>
                    <p>Most importantly, your ERP system should fit the way you do business, not the other way around. Markhor Technologies ERP solutions are designed with deep functional fit built in, but they are also highly customizable to align even more closely with your unique business processes. </p>
                    <br>
                    <h4>Products with purpose</h4>
                    <p>While we have the roots of an ERP software company, we’re continually evolving. Through our growth, we now specialize in delivering niche-focused solutions across both enterprise and the public sector.</p>
                    <br>
                    <div class="row clearfix">
                        <!--Services Block Three-->
                        <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon fa fa-bus"></span>
                                </div>
                                <div class="content-box">
                                    <h3><a>Supply Chain Solutions</a></h3>
                                    <div class="text">We offer a supply chain management technology that helps manufacturers keep control over this critical component of their business.</div>

                                </div>
                            </div>
                        </div>

                        <!--Services Block Three-->
                        <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon fa fa-cogs"></span>
                                </div>
                                <div class="content-box">
                                    <h3><a>Manufacturing Solutions</a></h3>
                                    <div class="text">Markhor Technologies offers technology that fits the needs of manufacturers to help them manage complex processes across the enterprise. </div>

                                </div>
                            </div>
                        </div>

                        <!--Services Block Three-->
                        <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon 	fa fa-copyright"></span>
                                </div>
                                <div class="content-box">
                                    <h3><a>Government Organizations Solutions</a></h3>
                                    <div class="text"> Optimize government best practices with rich functionality that can be tailored to suit your area of citizen relations. </div>
                                </div>
                            </div>
                        </div>



                        <!--Services Block Three-->
                        <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon 	fa fa-plus-square"></span>
                                </div>
                                <div class="content-box">
                                    <h3><a>Hospital Patient Flow & Compliance Solutions </a></h3>
                                    <div class="text">Markhor Technologies helps healthcare organizations in knowledge management, patient flow and patient safety.</div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <p>As regulation increases so does complexity. Our solutions facilitate better reporting and controls with inspection plans to ANSI, NIST, and ISO standards that are automated.<br><br></p>
                </div>

                <!--Two Column-->
                <div class="two-column">
                    <div class="row clearfix">
                        <!--Image Column-->
                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                            <div class="image">
                                <img src="~/images/resource/erp6.jpg" alt="">
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-6 col-xs-12">
                            <h4>Focus on your success</h4>
                            <div class="text">Our customer centric approach is the core of everything we do. Through our many collaboration touchpoints, our clients contribute to the solutions we provide – sharing in a critical component of their business and success.</div>
                            <!--<ul class="list-style-one">
                                <li>States starship enterprise the Brady.</li>
                                <li>The odds are against him and their dangers.</li>
                                <li>Travelled down the road and back again.</li>
                                <li>A loveable space that needs your face threes.</li>-->
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Two Column-->
                <div class="two-column">
                    <div class="row clearfix">
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-6 col-xs-12">
                            <h4>More than a software provider</h4>
                            <div class="text">Success is often determined by the partnerships you form. What sets us apart is our industry-focused solutions, coupled with industry-focused minds. This helps turn an important software purchase into a lasting customer journey. The difference is clear – from your first interaction to the many that follow.</div>
                            @*<ul class="list-style-one">
                                <li>Develop concept and design for software</li>
                                <li>Add features in the software that are user friendly</li>
                                <li>Easy and simple user interface design development</li>
                                <li>Test and validate the software</li>
                                <li>Launch the software with a complete strategy to support it</li>
                            </ul>*@
                        </div>
                        <!--Image Column-->
                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                            <div class="image">
                                <img src="~/images/resource/erp3.jpg" alt="">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

