@using MarkhorTech.Web.Views.Services
@{
    ViewBag.Title = "Mobile App Development";
    Layout = "~/Views/Services/_Layout.cshtml";
    ViewData.AddActivePage(ManageNavPages.MobileAppDevelopment);
}

<div class="content-side pull-right col-lg-9 col-md-8 col-sm-12 col-xs-12">
    <!--Services Single-->
    <div class="services-single">
        <div class="inner-box">
            <div class="image">
                <img src="~/images/resource/ma2.png" alt="">
            </div>
            <div class="services-content">
                <div class="text">
                    <p>It is crystal clear that the demand of mobile apps has escalated in all businesses. To cope with that, we become your accelerator to design and develop brilliant mobile applications. Markhor Technologies is offering mobile application development services for iPhone, iPad and Android.</p>
                    <p> Our team of mobile app developers is creative and knowledgeable to accomplish your individual demands as well as your business needs. With advanced tools and technology our mobile apps developers are able to create highly customized mobile applications for consumer needs and enterprises. Our experience and past work are the showcase of our brilliance in mobile applications development.</p>

                    <br>
                    <h4>Mobile Apps Development Services We Offer</h4>
                    <p>We create long-term value for our clients by identifying both risk, and opportunities in the marketplace. Allow us to address your long-term changes or long-term challenges, and watch your business grow as a result. </p>
                    <br>
                    <div class="row clearfix">
                        <!--Services Block Three-->
                        <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon 	fa fa-tablet"></span>
                                </div>
                                <div class="content-box">
                                    <h3><a>iPad App Development</a></h3>
                                    <div class="text">We can make your iPad apps idea tops the chart by executing it accordingly.We exhibit our tenacity by making completely bug-free iPad apps.</div>

                                </div>
                            </div>
                        </div>

                        <!--Services Block Three-->
                        <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon glyphicon glyphicon-hdd"></span>
                                </div>
                                <div class="content-box">
                                    <h3><a>Android App Development</a></h3>
                                    <div class="text">Be it social media, restaurants, health care, sports, education sector, etc., we design & develop every type of Android Apps for smartphones & tablets.</div>
                                </div>
                            </div>
                        </div>

                        <!--Services Block Three-->
                        <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon glyphicon glyphicon-fullscreen"></span>
                                </div>
                                <div class="content-box">
                                    <h3><a>Cross-Platform App Development</a></h3>
                                    <div class="text">Markhor Technologies offers you to cut development & maintenance costs with cross-platform apps that work seamlessly on iOS, Android etc.</div>

                                </div>
                            </div>
                        </div>

                        <!--Services Block Three-->
                        <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon glyphicon glyphicon-phone"></span>
                                </div>
                                <div class="content-box">
                                    <h3><a>iPhone Application Development </a></h3>
                                    <div class="text">We build elegant and engaging iPhone applications that will not only make your business lucrative but also performance oriented.</div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <p> Picking the right approach to mobile app development is a critical success factor that can make or break your project. Markhor Technologies mobile app developers typically use an agile, low-risk mobile development methodology that has a proven success record and ensures rapid results and 100% visibility.<br><br></p>
                </div>

                <!--Two Column-->
                <div class="two-column">
                    <div class="row clearfix">
                        <!--Image Column-->
                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                            <div class="image">
                                <img src="~/images/resource/ma8.png" alt="">
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-6 col-xs-12">
                            <h4>WHY LAUNCH APP DEVELOPMENT WITH US</h4>
                            <div class="text">We know how to deliver high-quality mobile software and how to do effective business with you. Rapid, transparent, time- and cost-efficient development aren’t the characteristics we try to impress our customers with; these are what makes up the basis of our attitude to any project. Drop us a line to learn more about our competencies in your industry, consult with our professionals regarding your idea or request custom mobile applications development right away.</div>
                            <!--<ul class="list-style-one">
                                <li>States starship enterprise the Brady.</li>
                                <li>The odds are against him and their dangers.</li>
                                <li>Travelled down the road and back again.</li>
                                <li>A loveable space that needs your face threes.</li>-->
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Two Column-->
                <div class="two-column">
                    <div class="row clearfix">
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-6 col-xs-12">
                            <h4>FULL-CYCLE DEVELOPMENT SERVICES</h4>
                            <div class="text">All our specialists are on a high alert to deliver all-round custom mobile app development services, from consulting and project specification to integration, deployment and market release. We cover: Mobile consulting, Business analysis, UI/UX design, Native or cross-platform mobile application development, Mobile testing (Unit testing and UI Automation) & Backend integration or publication on the App Store, Google Play or Microsoft Store.</div>
                            <!--<ul class="list-style-one">
                                <li>States starship enterprise the Brady.</li>
                                <li>The odds are against him and their dangers.</li>
                                <li>Travelled down the road and back again.</li>
                                <li>A loveable space that needs your face threes.</li>
                            </ul>-->
                        </div>
                        <!--Image Column-->
                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                            <div class="image">
                                <img src="~/images/resource/ma4.jpg" alt="">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

