@using MarkhorTech.Web.Views.Services
@{
    ViewBag.Title = "POS Solutions";
    Layout = "~/Views/Services/_Layout.cshtml";
    ViewData.AddActivePage(ManageNavPages.POSSolutions);
}

<div class="content-side pull-right col-lg-9 col-md-8 col-sm-12 col-xs-12">
    <!--Services Single-->
    <div class="services-single">
        <div class="inner-box">
            <div class="image">
                <img src="~/images/resource/pos2.jpg" alt="">
            </div>
            <div class="services-content">
                <div class="text">
                    <p>Point of Sale, or POS as it is more commonly abbreviated, refers to the capturing of data and customer payment information at a physical location when goods or services are bought and sold. The POS transaction is captured using a variety of devices which include computers, electronic cash registers or ECR's, optical and bar code scanners, magnetic card readers, or any combination of these devices.</p>
                    <p> Markhor Technologies is the leader in Point-of-Sale solutions. Whether it's Retail, Hospitality or just simply Software, we have a full-time staff of sales and support personnel dedicated to helping our distribution channel partners that supply to the these industries. Throughout installation, integration, and implementation, Markhor Technologies is there with you. </p>
                    <p>Markhor Technologies has partnered with several industry-leading manufacturers within the Retail and Hospitality industry to bundle best-of-breed hardware and software products into a seamless, fully integrated business-management solution. Solutions consist of POS Systems and peripherals, Self-Checkout, Headquarters and Hosting Applications, Back Office Applications, Electronic Shelf Labels, Mobile/Wireless Systems, Digital Signage, and so much more. </p>
                    <br>
                    <h4>Increase Efficiency & Reduce Complexity</h4>
                    <p>The easy to use retail and restaurant POS includes the features most desired by retailers, such as inventory tracking, credit card processing, cash management, customer loyalty, employee time clock and labor scheduling, and a detailed reporting interface to help retailers make smarter business decisions.</p>
                    <br>
                    <div class="row clearfix">
                        <!--Services Block Three-->
                        <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon fa fa-coffee"></span>
                                </div>
                                <div class="content-box">
                                    <h3><a>Full Restaurant POS</a></h3>
                                    <div class="text">Our solutions are great for small, medium, large restaurants. We service customers ranging from a single point of sale terminal.</div>

                                </div>
                            </div>
                        </div>

                        <!--Services Block Three-->
                        <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon fa fa-gift"></span>
                                </div>
                                <div class="content-box">
                                    <h3><a>Retails POS System</a></h3>
                                    <div class="text">Markhor Technnologies Express is a retail Point Of Sale system that helps increase efficiency and accuracy, lower operating costs. </div>

                                </div>
                            </div>
                        </div>

                        <!--Services Block Three-->
                        <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon fa fa-cart-plus"></span>
                                </div>
                                <div class="content-box">
                                    <h3><a>Super Market POS</a></h3>
                                    <div class="text">Turning Challenges into Opportunities: Markhor Technologies Integration for supermarket. </div>
                                </div>
                            </div>
                        </div>



                        <!--Services Block Three-->
                        <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon fa fa-birthday-cake"></span>
                                </div>
                                <div class="content-box">
                                    <h3><a>Event POS System </a></h3>
                                    <div class="text">Markhor Technologies offers the the best award winning Point of Sale system in the market place.</div>

                                </div>
                            </div>
                        </div>           

                <!--Services Block Three-->
                <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon fa fa-book"></span>
                        </div>
                        <div class="content-box">
                            <h3><a>Stationary POS System </a></h3>
                            <div class="text">Markhor Express is an excellent solution for management of books & stationery retail business.</div>

                        </div>
                    </div>
                </div>

                <!--Services Block Three-->
                <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon 	fa fa-tint"></span>
                        </div>
                        <div class="content-box">
                            <h3><a>Pharmacy POS System </a></h3>
                            <div class="text">Markhor Express pharmacy software helps pharmacies of all sizes to streamline all their retail operations. .</div>

                        </div>
                    </div>
                </div>

            </div>
            <p>We believe in quality of our products and security of our customers’ data and thus follow measures that are in compliance with the universal standards.<br><br></p>
        </div>

        <!--Two Column-->
        <div class="two-column">
            <div class="row clearfix">
                <!--Image Column-->
                <div class="image-column col-md-6 col-sm-6 col-xs-12">
                    <div class="image">
                        <img src="~/images/resource/pos4.jpg" alt="">
                    </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-md-6 col-sm-6 col-xs-12">
                    <h4>Our Support</h4>
                    <div class="text">Support plays a key role in providing high quality products to the customers. As Markhor Technologies' Technicians and Systems Engineers are among the qualified and experienced in the industry, we’re confident that your experience with our product support team will exceed your expectations. </div>
                    <!--<ul class="list-style-one">
                        <li>States starship enterprise the Brady.</li>
                        <li>The odds are against him and their dangers.</li>
                        <li>Travelled down the road and back again.</li>
                        <li>A loveable space that needs your face threes.</li>-->
                    </ul>
                </div>
            </div>
        </div>

        <!--Two Column-->
        <div class="two-column">
            <div class="row clearfix">
                <!--Content Column-->
                <div class="content-column col-md-6 col-sm-6 col-xs-12">
                    <h4>Boost customer loyalty & satisfaction</h4>
                    <div class="text">Transform stores into true experience destinations and empower closer relationships between customers and knowledgeable store staff to achieve the highest level of personalized service.</div>
                    @*<ul class="list-style-one">
                            <li>Develop concept and design for software</li>
                            <li>Add features in the software that are user friendly</li>
                            <li>Easy and simple user interface design development</li>
                            <li>Test and validate the software</li>
                            <li>Launch the software with a complete strategy to support it</li>
                        </ul>*@
                </div>
                <!--Image Column-->
                <div class="image-column col-md-6 col-sm-6 col-xs-12">
                    <div class="image">
                        <img src="~/images/resource/pos6.jpg" alt="">
                    </div>
                </div>

            </div>
        </div>

    </div>
        </div>
    </div>
</div>

