@using MarkhorTech.Web.Views.Services
@{
    ViewBag.Title = "Web Development";
    Layout = "~/Views/Services/_Layout.cshtml";
    ViewData.AddActivePage(ManageNavPages.WebDevelopment);
}

<div class="content-side pull-right col-lg-9 col-md-8 col-sm-12 col-xs-12">
    <!--Services Single-->
    <div class="services-single">
        <div class="inner-box">
            <div class="image">
                <img src="~/images/resource/wd4.jpg" alt="">
            </div>
            <div class="services-content">
                <div class="text">
                    <p>Markhor Technologies is a leading web design & development company in Lahore, Pakistan specialized in web development, website design, logo design, web hosting, domain registration, content writing, Search Engine Optimization, e-commerce solution and graphic designing. We also provide competitive offshore outsourcing of Web design, web development, Profile design, E-brochure designing to all companies not only in Lahore but also around the world.</p>
                    <p> Our Mission is to provide quality and cost effective web design & development in Pakistan to build a high-quality brand in online environment world wide.Our vision is to make the Markhor Technologies a leading website designing company of Pakistan, that provides satisfactory services to companies in all spheres of life.</p>
                    
                    <br>
                    <h4>Web Design & Development Services</h4>
                    <p>At Markhor Technologies, we have a team of very much professional and experienced web developers/designers who all are very expert in their relevant fields. We can either use your existing business branding, or we can work with your to create you a whole new branding image and develop your website around it. We concentrate on making highly interactive, simple and elegant websites, so every website we build is bespoke, we use our years of experience to create a website built using the latest technologies such as HTML5, CSS3 and jQuery. Our websites can be optimized to allow them to be viewed on mobile devices such as Apple iOS and Android.</p>
                    <br>
                    <div class="row clearfix">
                        <!--Services Block Three-->
                        <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon glyphicon glyphicon-th"></span>
                                </div>
                                <div class="content-box">
                                    <h3><a>Web Designing</a></h3>
                                    <div class="text">We want to maximize the reach and impact of your brand & will create a website that will tempt your visitors to keep navigating through it.</div>

                                </div>
                            </div>
                        </div>

                        <!--Services Block Three-->
                        <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon glyphicon glyphicon-th-list"></span>
                                </div>
                                <div class="content-box">
                                    <h3><a>Web Hosting</a></h3>
                                    <div class="text"> We provide Internet hosting service that allows individuals and organizations to make their website accessible via the World Wide Web. </div>
                                </div>
                            </div>
                        </div>

                        <!--Services Block Three-->
                        <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon glyphicon glyphicon-globe"></span>
                                </div>
                                <div class="content-box">
                                    <h3><a>SEO Services</a></h3>
                                    <div class="text">Markhor Technologies SEO Services would help you achieve increased sales, competitive edge & maximum value for lowest possible marketing cost.</div>

                                </div>
                            </div>
                        </div>

                        <!--Services Block Three-->
                        <div class="services-block-five style-two col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon fa fa-code"></span>
                                </div>
                                <div class="content-box">
                                    <h3><a>Web Development </a></h3>
                                    <div class="text">Markhor Technologies professional web developer performs the technical implementation and software development of a website.</div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <p> Since 2015, Markhor Technologies have been serving a broad range of clients including SMEs, hospitals and educational institutes located in Pakistan and abroad. We also work as offshore partners for various software houses and web solution providers across the globe.<br><br></p>
                </div>

                <!--Two Column-->
                <div class="two-column">
                    <div class="row clearfix">
                        <!--Image Column-->
                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                            <div class="image">
                                <img src="~/images/resource/wd6.jpg" alt="">
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-6 col-xs-12">
                            <h4>Designing Task for Business Goals</h4>
                            <div class="text">We design with target audience in mind. This makes our work smack the right harmonies and accomplish business objectives. Our team appreciates that every professional has exceptional set of necessities and remembers the same while working on website design. We have created ideal web designs for innovative professionals, medical practitioners, hotels, transportation / traveling agencies, human rights organizations, cosmetics, sports, and many others. </div>
                            <!--<ul class="list-style-one">
                                <li>States starship enterprise the Brady.</li>
                                <li>The odds are against him and their dangers.</li>
                                <li>Travelled down the road and back again.</li>
                                <li>A loveable space that needs your face threes.</li>-->
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Two Column-->
                <div class="two-column">
                    <div class="row clearfix">
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-6 col-xs-12">
                            <h4>Development Task for Business Goals</h4>
                            <div class="text">Markhor Technologies (Pvt.) Ltd has the team of expert web developers and designers. We proudly provide our service of development that helping businesses and online marketers realize the true power of web.In the role of Web Design & Development Company, we have developed many business ecommerce websites and software solution. With the best programmers and designers of Markkhor Technologies, we can take your business to the next level of success and assuring you an entire year’s technical support for free!!!</div>
                            <!--<ul class="list-style-one">
                                <li>States starship enterprise the Brady.</li>
                                <li>The odds are against him and their dangers.</li>
                                <li>Travelled down the road and back again.</li>
                                <li>A loveable space that needs your face threes.</li>
                            </ul>-->
                        </div>
                        <!--Image Column-->
                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                            <div class="image">
                                <img src="~/images/resource/wd5.jpg" alt="">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


