<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-MarkhorTech.Web-20171125082958.mdf;Initial Catalog=aspnet-MarkhorTech.Web-20171125082958;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="emailPassword" value="Markhor@123!"/>
    <add key="email" value="info@markhortechnologies.com"/>
    <add key="port" value="587"/>
    <add key="server" value="mail.markhortechnologies.com"/>
    <!--<add key="WebsiteURl" value="http://localhost:57739/"/>-->
    <add key="WebsiteURl" value="http://markhortechnologies.com/"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <trust level="Full"/>
    <authentication mode="None"/>
    <compilation targetFramework="4.8" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
    <!--<httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>-->
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="BostonResearchGroup">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)?BostonResearchGroup\.markhortechnologies.com$"/>
            <add input="{PATH_INFO}" pattern="^/BostonResearchGroup($|/)" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/BostonResearchGroup/{R:0}"/>
        </rule>
        <rule name="BusinessManager">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)?BusinessManager\.markhortechnologies.com$"/>
            <add input="{PATH_INFO}" pattern="^/BusinessManager($|/)" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/BusinessManager/{R:0}"/>
        </rule>
        <rule name="TheFashionScripts">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)?TheFashionScripts\.pk$"/>
            <add input="{PATH_INFO}" pattern="^/TheFashionScripts($|/)" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/TheFashionScripts/{R:0}"/>
        </rule>
        <rule name="Admin.Movingtrend">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)?admin.movingtrend\.com$"/>
            <add input="{PATH_INFO}" pattern="^/Admin.Movingtrend($|/)" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/Admin.Movingtrend/{R:0}"/>
        </rule>
        <rule name="Movingtrend">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)?movingtrend\.com"/>
            <add input="{PATH_INFO}" pattern="^/movingtrend($|/)" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/movingtrend/{R:0}"/>
        </rule>
        <rule name="DeTour">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)?DeTour\.pk$"/>
            <add input="{PATH_INFO}" pattern="^/DeTour($|/)" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/DeTour/{R:0}"/>
        </rule>
        <rule name="demoseo">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)?demoseo.markhortechnologies\.com$"/>
            <add input="{PATH_INFO}" pattern="^/demoseo($|/)" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/demoseo/{R:0}"/>
        </rule>
        <rule name="fbbusinessmanage">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)?fbbusinessmanage\.com$"/>
            <add input="{PATH_INFO}" pattern="^/fbbusinessmanage($|/)" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/fbbusinessmanage/{R:0}"/>
        </rule>
        <rule name="drjavadnia">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)?drjavadnia\.ir$"/>
            <add input="{PATH_INFO}" pattern="^/drjavadnia($|/)" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/drjavadnia/{R:0}"/>
        </rule>
        <rule name="Tours Admin">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)?admintours.markhortechnologies\.com$"/>
            <add input="{PATH_INFO}" pattern="^/admintours($|/)" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/admintours/{R:0}"/>
        </rule>
        <rule name="Garasor">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)?Garasor.markhortechnologies\.com$"/>
            <add input="{PATH_INFO}" pattern="^/Garasor($|/)" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/Garasor/{R:0}"/>
        </rule>
        <rule name="Cobyinstruments">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)?cobyinstruments.markhortechnologies\.com$"/>
            <add input="{PATH_INFO}" pattern="^/cobyinstruments($|/)" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/cobyinstruments/{R:0}"/>
        </rule>
        <rule name="Tours Client">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)?clienttours.markhortechnologies\.com$"/>
            <add input="{PATH_INFO}" pattern="^/clienttours($|/)" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/clienttours/{R:0}"/>
        </rule>
      </rules>
    </rewrite>
    <modules>
      <remove name="FormsAuthentication"/>
      <!--<remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />-->
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: 7898B39E-5E5E-4DEC-AC77-99C6DEF67EE9-->